@charset "UTF-8";

iframe{
    background-color: rgba(255, 192, 203, 0.554);
    height: 18.3em;
    position: absolute;
    left: 0.84em;
    transform: translate(0em, 3em);
    width: 10.39em;
    border: none;
}


.paicell{
    position: relative;
}

.cell{
    width: 15em;
    height: 26em;
    background-image: url(imagens/frame-iphone.png);
    position: absolute;
    background-size: 12em;
    left: 50%;
    background-repeat: no-repeat;
    transform: translate(-50%, 15%);
}

.menu{
    position: absolute;
    left: 100%;
    transform: translate(-108%, 4%);
}


.botao{
    margin-top: 32%;
    width: 8ch;
    height: 8ch;
    border-radius: 100%;
    border: none;
}

#home{
    background-image: url(imagens/logo-home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#insta{
    background-image: url(imagens/logo-instagram.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#gh{
    background-image: url(imagens/logo-github.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#yt{
    background-image: url(imagens/logo-youtube.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#tt{
    background-image: url(imagens/logo-twitter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#face{
    background-image: url(imagens/logo-facebook.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*ANIMAÇÕES BOTÕES*/


#home:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}

#yt:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}

#tt:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}

#insta:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}

#gh:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}

#face:hover{
    box-shadow: 0px 0px 50px black;
    background-size: 120%;
    background-position: center center;
}